@import "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css";
@import "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css";
@import "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.css";
@import "//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.css";
@import "//cdn.jsdelivr.net/jqplot/1.0.8/jquery.jqplot.css";
@import "//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/css/select2.min.css";
/* waiting for select2-bootstrap-css update for select2 4.0
@import "//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css";
*/
@import "//cdn.jsdelivr.net/hint.css/1.3.2/hint.min.css";
@import "//cdn.jsdelivr.net/bootstrap.daterangepicker/1.3.19/daterangepicker-bs3.css";
@import "//cdn.jsdelivr.net/xcharts/0.1.3/xcharts.css";
@import "//rawgit.com/bassjobsen/typeahead.js-bootstrap-css/master/typeaheadjs.css";
@import "//cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.2.1/metricsgraphics.min.css";
@import "//cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css";
@import "//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css";
@import "//cdn.rawgit.com/seiyria/bootstrap-slider/master/dist/css/bootstrap-slider.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/jointjs/0.9.0/joint.min.css";


body {
    padding-top: 70px;
}
@media (min-width: 992px) {
    /*
    body {
        overflow-y: hidden;
    }
    */
    .col-scroll-container {
        overflow-y: hidden;
    }
    .col-scroll {
        height: calc(100vh - 50px);
        overflow-x: visible;
        overflow-y: auto;
        padding-top: 20px;
        margin-top: -20px;
    }
    .dropdown-menu-row-720 {
        min-width: 720px;
    }
}
.col-modal-scroll {
    height: calc(82vh - 80px);
    overflow-y: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: -15px;
    margin-top: -15px;
}
.ellipsis {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* hint.css bootstrap-table header */
.fixed-table-container thead th .th-inner {
    overflow: inherit;
}
/* hint.css max size */
.hint--wrap:after {
    max-width: 320px;
    white-space: pre;
    word-break: break-all;
}


.collapse-icon:after
{
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    font-size: 18px;
    line-height: 22px;
}
.collapsed .collapse-icon:after
{
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}


.disabled-link {
    pointer-events: none;
    cursor: default;
}

/*************************** aspect ratio classes ***************************/
.aspect-ratio-16-by-9 {
    position: relative;
    padding-bottom: 56.25%;
}
.aspect-ratio-50 {
    position: relative;
    padding-bottom: 50%;
}
.aspect-ratio-16-by-9 > div,
.aspect-ratio-50 > div,
.aspect-ratio-target {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/****************************************************************************/

/********************* Expanded information tooltips ************************/
.fixed-table-body {
    overflow: visible;
}
.expanded-info {
    position: relative;
    display: inline-block;
    cursor: context-menu;
}
a.expanded-info {
    cursor: pointer;
}
.expanded-info-content-top,
.expanded-info-content-left,
.expanded-info-content-right,
.expanded-info-content-bottom {
    position: absolute;
    z-index: 1000000;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    transition-delay: 0ms;
}
.expanded-info-content-top {
    bottom: 100%;
    min-width: 100%;
}
.expanded-info-content-left {
    top: 50%;
    right: 100%;
    margin-top: 0;
    transition-delay: 100ms;
}
.expanded-info-content-right {
    top: 50%;
    left: 100%;
    margin-top: 0;
    transition-delay: 100ms;
}
.expanded-info-content-bottom {
    top: 100%;
    min-width: 100%;
}
.expanded-info-content-top:before,
.expanded-info-content-left:before,
.expanded-info-content-right:before,
.expanded-info-content-bottom:before {
    content: "";
    position: absolute;
    z-index: 1000000;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
}
.expanded-info-content-top:before {
    left: 8px;
    margin-top: -15px;
    border-color: currentcolor transparent transparent transparent;
}
.expanded-info-content-bottom:before {
    left: 8px;
    bottom: 100%;
    border-color: transparent transparent currentcolor transparent;
}
.expanded-info-content-left:before {
    top: calc(50% - 6px);
    left: 100%;
    border-color: transparent transparent transparent currentcolor;
}
.expanded-info-content-right:before {
    top: calc(50% - 6px);
    right: 100%;
    border-color: transparent currentcolor transparent transparent;
}
.expanded-info:hover > .expanded-info-content-top,
.expanded-info:hover > .expanded-info-content-left,
.expanded-info:hover > .expanded-info-content-right,
.expanded-info:hover > .expanded-info-content-bottom {
    visibility: visible;
    opacity: 1;    
}
.expanded-info:hover > .expanded-info-content-top {
}
.expanded-info:hover > .expanded-info-content-left {
    transform: translate(-8px, -50%);
}
.expanded-info:hover > .expanded-info-content-right {
    transform: translate(8px, -50%);
}
.expanded-info:hover > .expanded-info-content-bottom {
}
.expanded-info-content-left > *,
.expanded-info-content-right > * {
    margin: 0;
}
/****************************************************************************/

.typeahead-multidata-group {
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}
.chart {
    height: 40vw;
}
.chart-thumbnail {
    height: 6vw;
}
.chart-thumbnail-caption {
    z-index: 100;
    text-align: center;
    right: 20%;
    left: 20%;
    position: absolute;
    padding-top: 1vw;
}



/******************************* 404 page template **************************/
.error-template {
    padding: 40px 15px;
    text-align: center;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}
.popover{
    max-width: none;
}
.popover-content .nav {
    max-height: 80vh;
    overflow-y: auto;
}
/******************************* 404 page template **************************/

/********************************** spinner *********************************/
@keyframes spinner {
    to {transform: rotate(360deg);}
}
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
.spinner {
    min-width: 50px;
    min-height: 50px;
}
.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px;
}
.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}
/********************************** spinner *********************************/

/********************************** tooltip *********************************/
[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}
/********************************** tooltip *********************************/

/****************************************************************************/
/****************************************************************************/

.col-width-auto {
    width: auto;
}

.carousel-control {
  width:5%;
}

.list-sidehover {
    list-style: none;
}
.list-sidehover > li > a {
    text-decoration: none;
    padding: 4px 8px;
    display: block;
}
.list-sidehover > li > a:hover {
    border-left: 2px solid;
    padding-left: 6px;
}


/*********************** Bootstrap some extension ***************************/
/* nav list sizes */
.nav-lg > li > a {
    padding: 10px 16px;
    font-size: 18px;
}
.nav-sm > li > a {
    padding: 5px 10px;
    font-size: 12px;
}
.nav-xs > li > a {
    padding: 1px 5px;
    font-size: 12px;
}
/* list group items sizes */
.list-group-lg > .list-group-item,
.list-group > .list-group-item-lg {
    padding: 10px 16px;
    font-size: 18px;
}
.list-group-sm > .list-group-item,
.list-group > .list-group-item-sm {
    padding: 5px 10px;
    font-size: 12px;
}
.list-group-xs > .list-group-item,
.list-group > .list-group-item-xs {
    padding: 1px 5px;
    font-size: 12px;
}
/* Badge danger, info, etc. xtyles */
.label-as-badge {
    border-radius: 1em;
}
/* Alerts sizes */
.alert-lg {
    padding: 18px;
    font-size: 18px;
}
.alert-sm {
    padding: 10px;
    font-size: 12px;
}
.alert-xs {
    padding: 5px;
    font-size: 12px;
}
/****************************************************************************/
/* bootstrap-slider fix */
.slider.slider-horizontal {
    width: 100%;
}

.hint:after, [data-hint]:after {
    white-space: pre;
}

//table .collapse.in {
//    display:table-row;
//}
