body {
    padding-top: 70px;
}
@media (min-width: 992px) {
    body {
        overflow-y: hidden;
    }
    #ajaxPage,.col-scroll {
        height: calc(100vh - 50px);
        overflow-y: auto;
        padding-top: 20px;
        margin-top: -20px;
    }
}
.col-modal-scroll {
    height: calc(82vh - 80px);
    overflow-y: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: -15px;
    margin-top: -15px;
}
.ellipsis {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*
main, aside {
    overflow-y: auto;
}
@media (max-width: 1199px) {
    body {
        padding-top: 120px;
    }
    .navbar-page {
        margin-top: 50px;
        z-index: 1020;
    }
}
@media (min-width: 1200px) {
    .navbar-main {
        right: 38%;
    }
    .navbar-page {
        left: 62%;
    }
}
*/
/*
#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}
#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 1px solid gray;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;
}
@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}
@media (min-width: 992px) {
    #main-wrapper {
        float:right;
    }
}
@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
        border-right:0;
    }
}
*/
/*
body {
    padding-top:70px;
}
#pageNavigation {
    height: 50px;
}
main {
    margin-top: 70px;
    overflow-y:auto;
    height:92vh;
}
@media (min-width: 1200px) {
    .navbar-corner {
        border-bottom-right-radius: 10px;
    }
}
*/
.typeahead-multidata-group {
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}
.graph {
    height: 600px;
}
.graph-thumbnail {
    width: 192px;
    height: 108px;
    /*margin-right: 15px;*/
}
/* 404 page template */
.error-template {
    padding: 40px 15px;
    text-align: center;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}
.popover{
    max-width: none;
}
.popover-content .nav {
    max-height: 80vh;
    overflow-y: auto;
}

/********************************** spinner *********************************/
@keyframes spinner {
    to {transform: rotate(360deg);}
}
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
.spinner {
    min-width: 50px;
    min-height: 50px;
}
.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px;
}
.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}
/********************************** spinner *********************************/

.col-width-auto {
    width: auto;
}
