@media (max-width: 1199px) {
    body {
        /*min-height: 2000px;*/
        padding-top: 70px;
    }
}
/* round navbar right down corner  */
.navbar-corner {
    border-bottom-right-radius: 4px;
}

.graph {
    height: 600px;
}
.graph-thumbnail {
    width: 192px;
    height: 108px;
    /*margin-right: 15px;*/
}
